{% load custom_filters %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
    <style>
        button {
            background-color: #45a049;
            color: white;
            padding: 10px 12px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.3s ease;
            width: 10%;
            margin-top: 15px;
            margin-bottom: 10px;
        }
        @media (max-width: 600px) {
            button {
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <h2>Your Cart</h2>

    {% if cart_items %}
    <ul>
        {% for item in cart_items %}
        <li>
            {{ item.medication.name }} - {{ item.quantity }} x {{ item.medication.price }} PLN = 
            {{ item.quantity|multiply:item.medication.price }} PLN
            <form action="{% url 'remove_from_cart' item.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć ten produkt z koszyka?')">Remove</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <hr>
    <h3>Total: {{ grand_total }} PLN</h3>
    {% else %}
    <p>Twój koszyk jest pusty.</p>
    <a href="{% url 'products' %}">
        <button>Przeglądaj produkty</button>
    </a>
    {% endif %}
    
    <div>
        <a href="{% url 'products' %}">
            <button>Wróć</button>
        </a>
    </div>
    <div>
        <a href="{% url 'checkout_view' %}">
            <button>Zamów</button>
        </a>
    </div>
</body>
</html>
