<!-- success.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potwierdzenie Zamówienia</title>
</head>
<body>
    <h1>Zamówienie zostało pomyślnie złożone!</h1>
    <p>Twoje zamówienie zostało pomyślnie złożone. Dziękujemy za zakupy w naszym sklepie!</p>
    <p>Numer Zamówienia: {{ order.id }}</p>
    <p>Status: {{ order.status }}</p>
    <a href="/">Przejdź do strony głównej</a>
</body>
</html>